prdev-220815/check-in-papi-template/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
  xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
  <flow name="api-main">
        <http:listener path="/api/v1/*" config-ref="apiHttpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="apiConfig"/>
    <error-handler ref="api-error-handler" />
    </flow>
    <flow name="api-console">
        <http:listener path="/console/v1/*" config-ref="apiHttpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="apiConfig"/>
    <error-handler ref="api-console-error-handler" />
    </flow>
    <flow name="put:\tickets\(PNR)\checkin:application\json:apiConfig">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="PNR">attributes.uriParams.'PNR'</ee:set-variable>
            </ee:variables>
        </ee:transform>
    <flow-ref doc:name="check-in-by-pnr" doc:id="ebe04ff0-0747-4c77-8427-1045cd160de5" name="check-in-by-pnr" />
    </flow>
    <flow name="put:\tickets\(PNR)\paymentApproval:application\json:apiConfig">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="PNR">attributes.uriParams.'PNR'</ee:set-variable>
            </ee:variables>
        </ee:transform>
    <flow-ref doc:name="payment-approval-by-pnr" doc:id="c959279e-e296-4f96-85f1-71c1f2d3d767" name="payment-approval-by-pnr" />
    </flow>
</mule>
